<mat-toolbar color="primary"> Computer-database
  <button class="ml-1" mat-raised-button color="primary" [routerLink]="[ '/dashboard/computer' ]" routerLinkActive="router-link-active">
    Computer
  </button>
  <button class="ml-1" mat-raised-button color="primary" *ngIf="checked" name="name" [routerLink]="[ '/dashboard/company' ]" routerLinkActive="router-link-active">
    Company
  </button>
  <button class="topcorner" class="ml-1" mat-raised-button color="primary" [routerLink]="[ '/login' ]" routerLinkActive="router-link-active">
    Logout
  </button>
  <mat-checkbox class="ml-1" [(ngModel)]="device"
  (change)="onChange($event)" [checked]="checked"> {{device}} </mat-checkbox>
</mat-toolbar>

