<div class="example-container">
  <mat-form-field>
    <input
      matInput
      placeholder="Name"
      required="true"
      [(ngModel)]="computer.name"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Introduced"
      [(ngModel)]="computer.introduced"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Discontinued"
      [(ngModel)]="computer.discontinued"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Company" [(ngModel)]="computer.companyName">
      <mat-option *ngFor="let company of companies" [value]="company.id">
        {{ company.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="create()">Create</button>
<button mat-raised-button color="primary" (click)="back()">Annuler</button>
