
<form [formGroup]="computerForm" (ngSubmit)="edit()" class="example-container">
  <mat-form-field>
    <input matInput placeholder="Name" required="true" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Introduced" formControlName="introduced" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Discontinued" formControlName="discontinued" />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Company" formControlName="companyId">
      <mat-option *ngFor="let company of companies" [value]="company.id">
        {{ company.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!computerForm.valid"
  >
    Edit
  </button>
  <button mat-raised-button color="primary" (click)="back()">Annuler</button>
</form>
